//- index.pug
doctype html
html
  head
  title Niloy Dance Academy 
  block scripts
      
  block style     
  
  body
    block content 
    footer#footer 
      | Copyright &copy; 2022 NiloyDanceAcademy.com | All right resurved 